---
import BlogCard from "@/components/ui/BlogCard.astro";
import Layout from "@/layouts/Layout.astro";



---

<Layout>
  <h1 class="text-2xl">Blog</h1>
	<h2 class="text-neutral-500">Je documente ma veille et mon activité de freelance</h2>
	
  <div class="mt-12 sm:mt-16">
		<div class="group">
			<BlogCard title='Lorem ipsum dolor sit amet' date='2023-01-01' categories={['React', 'Wordpress', 'AstroJS']} />
			<BlogCard title='Lorem ipsum dolor sit amet' date='2023-01-01' categories={['React', 'Wordpress', 'AstroJS']} />
			<BlogCard title='Lorem ipsum dolor sit amet' date='2023-01-01' categories={['React', 'Wordpress', 'AstroJS']} />
		</div>
	</div>
</Layout>