---
import { getLangFromUrl, useTranslations } from '../../i18n/utils';
import { getBlogCollection } from '@/utils/collections';

import Layout from "@/layouts/Layout.astro";
import BlogCard from "@/components/BlogCard.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const articles = await getBlogCollection(lang);

---

<Layout
  title={t("blog.seo.title")}
  metaDescription={t("blog.seo.description")}
>
  <h1 class="text-2xl">{t("blog.title")}</h1>
  <h2 class="text-neutral-500">{t("blog.subTitle")}</h2>

  <div class="group mt-12 sm:mt-16">
    {articles.map((article) => (
      <BlogCard article={article} />
    ))}
  </div>
</Layout>
