---
import Layout from "@/layouts/Layout.astro";
import BlogArticle from "@/components/BlogArticle.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("blog");

---

<Layout>
  <h1 class="text-2xl">Blog</h1>
	<h2 class="text-neutral-500">Je documente ma veille et mon activité de freelance</h2>
  
  <div class="group mt-12 sm:mt-16">
    {articles.map((article) => (
      <BlogArticle article={article} />
    ))}
	</div>
</Layout>