@import 'tailwindcss';

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-var.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: 'Inter', 'sans-serif';
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

p {
    @apply mt-6 font-light text-pretty;
}

/* Styling for the blog articles content 
 */
#article-content h2 {
    @apply my-5 text-xl;
}

#article-content h3 {
    @apply my-3 text-lg;
}

#article-content p {
    @apply mt-0 opacity-90;
}

#article-content img {
    @apply my-6 rounded;
}

#article-content ul {
    @apply list-disc;
}

#article-content ol {
    @apply list-decimal;
}

#article-content ol,
#article-content ul {
    @apply my-4 ml-4;
}

#article-content pre {
    @apply relative my-4 rounded p-4;
}
