---
import { getCollection } from 'astro:content';

import Layout from '@/layouts/Layout.astro';
import SocialLinks from '@/components/SocialLinks.astro';
import ProjectCard from '@/components/ProjectCard.astro';
import BlogArticle from '@/components/BlogArticle.astro';

const projects = await getCollection('projects');
const articles = await getCollection('blog');

---

<Layout>
	<h1 class="text-2xl">Victor Lebecq</h1>
	<h2 class="text-neutral-500">Web developer @ <a href="https://digit-alp.fr" target="_blank" class="transition-colors ease-out duration-300 hover:text-neutral-900 dark:hover:text-neutral-100">Digit'Alp</a> </h2>
	<p>
		I'm a 25-year-old freelance web developer based in Grenoble, I mainly work with <strong class="font-medium">React</strong>, <strong class="font-medium">WordPress</strong>, and <strong class="font-medium">AstroJS</strong>. I enjoy breaking down problems and finding solutions to bring impactful and sustainable projects to life for my clients.
	</p>
	<SocialLinks />
	
	<div class="mt-12 sm:mt-16">
		<h2 class="text-neutral-500 mb-6">[ Projects ]</h2>
		<div class="group">
			{projects.map((project) => (
				<ProjectCard title={project.data.title} description={project.data.description} link={project.data.link} />
			))}
		</div>
	</div>
	<div class="mt-12 sm:mt-16">
		<h2 class="text-neutral-500 mb-6">[ Blog ]</h2>
		<div class="group">
			{articles.map((article) => (
				<BlogArticle article={article} />
			))}
		</div>
	</div>
	
</Layout>
