---
import Layout from "@/layouts/Layout.astro";

import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

---

<Layout
  title={t("404.seo.title")}
>
    <h1 class="text-2xl">{t("404.title")}</h1>
  <h2 class="text-neutral-500">{t("404.subtitle")}</h2>
  <p class="text-sm">{t("404.text")}</p>
  <a href={translatePath('/', lang)} class="inline-block mt-6 text-sm underline">{t("404.link")}</a>
</Layout>
