---
import Layout from "@/layouts/Layout.astro";


---

<Layout
  title="404・Page non trouvée" 
  metaDescription="Page non trouvée."
>
  <h1 class="text-2xl">404</h1>
	<h2 class="text-neutral-500">Page non trouvée</h2>
  <p class="text-sm">La page que vous essayer de trouver n'existe pas. Cette page est autant perdu que vous.</p>
  <a href="/" class="inline-block mt-6 text-sm underline">Retourner à l'accueil</a>
</Layout>