---
import { getCollection } from 'astro:content';

import Layout from '@/layouts/Layout.astro';
import SocialLinks from '@/components/SocialLinks.astro';
import ProjectCard from '@/components/ProjectCard.astro';
import BlogCard from '@/components/BlogCard.astro';

const projects = await getCollection('projects');
const articles = await getCollection('blog');

---

<Layout
	title="Victor Lebecq・Développeur web à Chambéry et Grenoble"
	metaTitle="Victor Lebecq・Développeur web à Chambéry et Grenoble" 
  metaDescription="Développeur web base à Chambéry qui aime donner vie à des projets impactant et durables."
>
	<h1 class="text-2xl">Victor Lebecq</h1>
	<h2 class="text-neutral-500">Développeur web @ <a href="https://digit-alp.fr" target="_blank" class="transition-colors ease-out duration-300 hover:text-neutral-900 dark:hover:text-neutral-100">Digit'Alp</a> </h2>
	<p>
		Développeur web freelance de 25 ans basé à Chambéry, je travail principalement avec <strong class="font-medium">React</strong>, <strong class="font-medium">Wordpress</strong> et <strong class="font-medium">AstroJS</strong>. J'aime découper des problèmes et trouver des solutions pour donner vie à des projets impactant et durables pour mes clients.
	</p>
	<SocialLinks />
	
	<div class="mt-12 sm:mt-16">
		<h2 class="text-neutral-500 mb-6">[ Projets ]</h2>
		<div class="group">
			{projects.map((project) => (
				<ProjectCard title={project.data.title} description={project.data.description} link={project.data.link} />
			))}
		</div>
	</div>
	<div class="mt-12 sm:mt-16">
		<h2 class="text-neutral-500 mb-6">[ Blog ]</h2>
		<div class="group">
			{articles.map((article) => (
				<BlogCard article={article} />
			))}
		</div>
	</div>
	
</Layout>
