---
import Tag from "@/components/ui/Tag.astro";

type Props = {
  title: string;
  tagLabel? : string
}

const { title, tagLabel } = Astro.props as Props;
---

<li 
  tabindex="0"
  role="menuitem"
  class="inline-flex items-center gap-2  rounded-md hover:bg-neutral-900/2  text-neutral-500 w-full dark:hover:bg-white/5 dark:text-neutral-400 py-3 px-2 focus:outline-none focus:bg-neutral-900/5 dark:focus:bg-white/10"
>
  <slot />
  <span class="flex-1">{title}</span>
  {tagLabel && <Tag label={tagLabel} />}
</li>