---

---
<div 
id="search-menu"
aria-hidden="true"
data-state="close"
class="fixed w-full z-20 inset-0 px-6 pt-12 bg-black/40 backdrop-blur-xs data-[state=open]:pointer-events-auto data-[state=close]:pointer-events-none data-[state=close]:hidden" 
>
  <slot/>
</div>