---
import Tag from './ui/Tag.astro';


type Props = {
  title: string;
  date: string;
  categories: string[];
  slug: string;
}

const { title, date, categories, slug = '#' } = Astro.props as Props;

---

<article class="relative isolate flex items-center rounded-xl p-2 -ml-2 transition-all ease-in duration-300 group-hover:not-hover:opacity-20">
  <div class="flex-1">
    <h3 class="">
      <a href={slug}>
        <span class="absolute inset-0 z-10"></span>
        {title}
      </a>
    </h3>
    <div class="space-x-2">
      {categories.map((category) => (
        <Tag label={category} />
      ))}
    </div>
  </div>
  <time class="text-sm"><span>{date}</span></time>
</article>