---
import LanguagePicker from "./LanguagePicker.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

const year = new Date().getFullYear();
---

<footer class="relative flex items-center text-xs text-neutral-500 justify-between border-t border-neutral-200 dark:border-neutral-800 py-2 mt-16 z-999 sm:mt-32">
  <span>© {year} Victor Lebecq</span>
  <div class="flex items-center text-sm gap-1">
    <ThemeSwitcher />
    <span>~</span>
    <LanguagePicker />
  </div>
</footer>


