---

import IconLightfile from "@/content/projects/assets/icon_lightfile.svg"
import IconDigitalp from "@/content/projects/assets/icon_digitalp.svg"
import IconWepeak from "@/content/projects/assets/icon_wepeak.svg"

type Props = {
  index: number;
  title: string;
  description: string;
  link: string;
}

const { index, title, description , link } = Astro.props as Props;
let Illustration 

switch (title) {
  case 'Lightfile':
    Illustration = IconLightfile;
    break;
  case 'Digitalp':
    Illustration = IconDigitalp;
    break;
  case 'WePeak':
    Illustration = IconWepeak;
    break;
  default:
    Illustration = IconDigitalp;
    break;
}

const rotation = index % 2 === 0 ? `sm:-rotate-${1 + index}` : "sm:rotate-4";

---

<div class={`relative flex items-center gap-2 rounded-xl p-2 -ml-2 w-full  ${rotation} transition-all ease-in duration-300 hover:rotate-0 group-hover:not-hover:opacity-20 group-hover:has-hover:scale-102 sm:flex-col sm:text-center sm:aspect-square sm:bg-neutral-100 sm:dark:bg-neutral-800 sm:shadow-xl`}>
  <div class="w-12 aspect-square sm:w-full sm:aspect-video text-neutral-500 dark:text-neutral-400 bg-neutral-900/2 inset-ring inset-ring-neutral-950/8 dark:bg-white/5 dark:inset-ring-white/2 flex items-center justify-center rounded-lg ">
    <Illustration class="size-4 sm:size-6" />
  </div>
  <div class="flex-1">
    <h3>
      <a href={link}>
        <span class="absolute inset-0 z-10"></span>
        {title}
      </a>
    </h3>
    <p class="!mt-0 text-xs text-neutral-500 dark:text-neutral-400">{description}</p>
  </div>
</div>