---

import IconLightfile from "@/content/projects/assets/icon_lightfile.svg"
import IconDigitalp from "@/content/projects/assets/icon_digitalp.svg"
import IconWepeak from "@/content/projects/assets/icon_wepeak.svg"

type Props = {
  index: number;
  title: string;
  description: string;
  link: string;
}

const { index, title, description , link } = Astro.props as Props;
let Illustration 

switch (title) {
  case 'Lightfile':
    Illustration = IconLightfile;
    break;
  case 'Digitalp':
    Illustration = IconDigitalp;
    break;
  case 'WePeak':
    Illustration = IconWepeak;
    break;
  default:
    Illustration = IconDigitalp;
    break;
}

const rotation = index % 2 === 0 ? `-rotate-${1 + index}` : "rotate-4";

---

<div class={`bg-neutral-900/2 dark:bg-white/5 text-center rounded-xl space-y-2 p-2 w-full aspect-square shadow-xl ${rotation} hover:rotate-0 transition-all ease-in duration-300 group-hover:not-hover:opacity-20 group-hover:has-hover:scale-102`}>
  <div class="w-full aspect-video text-neutral-500 dark:text-neutral-400 bg-neutral-900/2 inset-ring inset-ring-neutral-950/8 dark:bg-white/5 dark:inset-ring-white/2 flex items-center justify-center rounded-lg ">
    <Illustration class="size-6" />
  </div>
  <div class="flex-1">
    <h3>
      <a href={link}>
        <span class="absolute inset-0 z-10"></span>
        {title}
      </a>
    </h3>
    <p class="!mt-0 text-xs text-neutral-500 dark:text-neutral-400">{description}</p>
  </div>
</div>