---
import { Image } from "astro:assets";

import logoTitan from "@/assets/logo_titan.png";
import Tag from "./ui/Tag.astro";
---

<div class="flex items-center rounded-xl gap-4 p-2 -ml-2 transition-all ease-in duration-300 group-hover:not-hover:opacity-20">
  <div class="size-16 bg-neutral-200 dark:bg-neutral-800 flex items-center justify-center rounded-lg ">
    <Image src={logoTitan} alt="Logo de Victor Lebecq" width="100" height="100" class="w-full h-full object-cover object-center" />
  </div>
  <div class="flex-1">
    <h3 class="">Développeur Web Freelance </h3>
    <a href="https://titan-info.fr" target="_blank" class="text-sm text-neutral-500">Titan Informatique</a>
    <p class="font-light text-sm">lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus laudantium ipsam quibusdam vel iste animi vero tempore.</p>
    <div class="space-x-1">
      <Tag label="React" />
      <Tag label="Wordpress" />
    </div>
  </div>
  <span class="text-sm">Mar 2024 - Nov 2024</span>
</div>