---
import { ClientRouter } from 'astro:transitions';
import Header from '../components/Header.astro';
import '../styles/global.css';





---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Victor Lebecq</title>
		<ClientRouter />
	</head>

	<body class="bg-gray-100 font-sans">
		<div class="mx-auto max-w-[692px] overflow-x-hidden px-6 py-12 antialiased sm:py-32 md:overflow-x-visible md:py-16">
			<Header />
			<slot />
		</div>
	</body>

</html>

