---
import { ClientRouter } from 'astro:transitions';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Launcher from '@/components/Launcher/Launcher.astro';
import Seo from '@/components/Seo.astro';

import '../styles/global.css';

type Props = {
	title: string;
	metaTitle?: string;
	metaDescription: string;
}

const { title, metaTitle, metaDescription } = Astro.props as Props;



---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<Seo title={title} metaTitle={metaTitle} metaDescription={metaDescription} />
		<script>
			(function() {
      const savedTheme = localStorage.getItem('theme');
      if (savedTheme) {
        document.body.setAttribute('data-theme', savedTheme);
      }
    	})();
		</script>
		<ClientRouter />
	</head>

	<body 
		data-theme="dark"
		data-modal="close"
		class="bg-neutral-100 font-sans font-medium text-neutral-900 dark:bg-neutral-900 dark:text-neutral-100 overflow-auto data-[modal=open]:overflow-hidden data-[modal=open]:overscroll-contain data-[modal=open]:pointer-events-none data-[modal=open]:!mr-[15px]"
	>
		<div class="mx-auto max-w-3xl overflow-x-hidden px-6 pt-12 antialiased sm:pt-16 md:overflow-x-visible">
			<Header />
			<slot />
			<Footer />
		</div>
		<Launcher />
	</body>

	<script>
		import { checkSavedTheme } from "@/utils/theme";
		document.addEventListener('astro:page-load', () => {
			checkSavedTheme();
		});
	</script>
</html>



