---

---

<div class="flex items-center rounded-xl p-3 -ml-3 transition-all ease-in duration-300 group-hover:not-hover:opacity-20">
  <div class="flex-1">
    <h3 class="">Lorem ipsum dolor sit amet</h3>
    <span class="bg-neutral-200 dark:bg-neutral-800 text-xs rounded w-fit px-2 py-1">Astro</span>
    <span class="bg-neutral-200 dark:bg-neutral-800 text-xs rounded w-fit px-2 py-1">Freelance</span>
  </div>
  <div class="text-xs">Juillet 2024</div>
</div>