---
type Propos = {
  label: string;
}

const { label } = Astro.props as Propos;
---

<span class="inline-block bg-neutral-200 dark:bg-neutral-800 text-xs leading-none rounded w-fit px-2 py-1 mt-1">{label}</span>